body {
    background-image: url(/images/back.jpeg);
    background-size: cover;
    width: 140%;
    height: 450px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
}
nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li{
    display: inline;
    float: left;
}
li a{
    display: block;
  color: rgb(187, 157, 146);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#about{
    text-align: center;
}
p{
    color:chocolate;
}

#img1{
    margin-right: 3%; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.2s;
}

#img1:hover{
    box-shadow: 0 0 4px 3px;
    transition: 0.5s;
}

#img1 img{
    border-radius: 10px;
}

#img1 img:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
   
}
.row{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row div{
    width: 450px;
}

#about-us{
    padding: 2%;
}
.container{
    width: 100%;
    padding: 1px;
    margin: 0px;
}
.logo {
    text-align: center;
}
#name {
    text-align: center;
    font-family: Arial;
    font-size: large;
    color: aliceblue;
}
footer{
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
footer p{
    margin-top: 10px;
    color: rgb(13, 236, 58);
    font-size: 30px;
    font-style: italic;
}
