.container{
    width: 100%;
    padding: 1px;
    margin: 0px;
}
.front {
    background-image: url(/images/back.jpeg);
    background-size: cover;
    width: 150%;
    height: 500px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
}
.logo {
    text-align: center;
}
#name {
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    font-family: Arial;
    font-size: large;
    color: aliceblue;
}   