body {
    background-image: url(/images/back.jpeg);
    background-size: cover;
    width: 140%;
    height: 450px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    padding: 1px;
    margin: 0px;
}
.logo {
    text-align: center;
}
#name {
    text-align: center;
    font-family: Arial;
    font-size: large;
    color: aliceblue;
}
footer{
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
footer p{
    margin-top: 10px;
    color: rgb(123, 19, 19);
    font-size: 30px;
    font-style: italic;
}